@import 'at-digital-components/sass/index';


// Estilo card
.at-shadow-xl {
  align-items: center;
  background: $at-primary-20;
  width: 401px;
  height: 532px;
  margin-left: auto;
  margin-right: auto;
}
// Estilo imagen logo AgileThought
.logo{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 70, 23px;

}
.info{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.fotoperfil{
  width:170px;
  height: 170px;
  border-radius:150px;
  margin-left: auto;
  margin-right: auto;
  }

  .textbody{
  text-align: center;

  }
.boton{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height:32px;
  width:93px;

}
.iconos{

  padding: 5px;
	margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.facebook{

  margin-right: 4em;
  padding-top: 6px;
}

.link{

  margin-right: 4em;
  padding-top: 6px;
}
.git{


  padding-top: 6px;
}
