<body>
  <div class="contenedor">
  <!-- Imagen logo AgileThought -->
  <div class="info">
    <a>
      <img
        class="logo"
        src="assets/img/logo-at-color.png"
        style="text-align: center"
      />
    </a>
  </div>
  <!-- Card  -->
  <div class="at-shadow-xl at-radius-xs">
    <div class="info">
      <br />
      <img src="assets/img/fotoperfil.jpg" class="fotoperfil" >
    </div>
    <!-- informacion del perfil -->
    <div class="info">
      <p class="at-prod-h2">
        <B>Cristian Chavero</B>
      </p>
      <!-- texto acerca del puesto dentro de la empresa -->
      <p class="at-prod-subtitle-1">Consultor Jr.</p>
      <!-- Descripción breve personal -->
      <div class="textbody">
        <p class="at-prod-body-2">
          Experiencia como Tech Lead, llevando equipos de desarrollo
          <br />
          para la correcta integración e implementación <br />
          de soluciones considerando tiempo y costos de acuerdo <br />
          a los requerimientos del negocio.
        </p>
        <!-- Boton "saber más" conector con CV -->
        <div class="boton">
          <button
            class="at-btn at-btn-s at-btn-filled-secondary"
            style="background-color: #4589ff"
            routerLink="/curriculum"
          >
            Saber más
          </button>
        </div>
        </div>
        <div class="iconos">
          <a class="facebook" href="https://www.facebook.com/AgileThought"><img src="assets\img\iconmonstr-facebook-4.svg" width="35" heigth="35"/></a>
          <a class="link" href="https://mx.linkedin.com/company/agilethought"><img src="assets\img\iconmonstr-linkedin-4.svg" width="35" heigth="35"/></a>
          <a class="git" href="https://github.com/cristianchaveroAgile"><img src="assets\img\iconmonstr-github-1.svg" width="35" heigth="35"/></a>
          </div>
      </div>
    </div>
  </div>

  </body>

