
<div class="sidebar">
      <ul>
        <li>
          <img class="foto" src="assets\img\fotochavero.jpeg" />
          <p class="at-prod-subtitle-1"><b>Cristian Chavero
          </b>
          </p>
        </li>
        <li><img src="assets\img\avatar.png" width="25" heigth="25"
          />&nbsp;Acerca de mi</li>
        <li><img src="assets\img\avatar.png" width="25" heigth="25"
          />&nbsp;Habilidades</li>
        <li><img src="assets\img\avatar.png" width="25" heigth="25"
          />&nbsp;Lenguajes de programación</li>
        <li><img src="assets\img\avatar.png" width="25" heigth="25"
          />&nbsp;Experiencia</li>
        <li><img src="assets\img\avatar.png" width="25" heigth="25"
          />&nbsp;Escolaridad</li>
      </ul>
    </div>

    <div class="at-shadow-md at-radius-m outline ">
    <b>Acerca de mi</b>
      <ul>
        <th><at-form-field [appearance]="'standard'" [theme]="'primary'">
          <div atLabel>Nombre</div>
          <input type="text" atInput>
        </at-form-field><th>
          <tr class="apellidos"><at-form-field [appearance]="'standard'" [theme]="'primary'">
            <div atLabel>Apellidos</div>
            <input type="text" atInput>
          </at-form-field><tr>
         <th> <at-form-field class="description" [appearance]="'standard'" [theme]="'primary'">
              <div atLabel>Descripción</div>
              <input type="text" atInput>
              <div atSupport>Escribe una breve descripción tuya</div>
            </at-form-field></th>








